# Set:

In [1]:
g={'a',23,45,67,"raju"}
print(g)   # unorder format follows by set. no particular order

{'raju', 67, 'a', 45, 23}

In [2]:
g

{23, 45, 67, 'a', 'raju'}

In [3]:
h={}
m={2}
print(h,type(h))
print(m,type(m))

{} <class 'dict'>
{2} <class 'set'>

In [4]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [5]:
s1={23,12,34,"ajay",0,"latha"}
s1.add("raju")
print(s1)

{0, 'raju', 34, 12, 'latha', 'ajay', 23}

In [6]:
print(s1)
s1.pop()
print(s1)

{0, 'raju', 34, 12, 'latha', 'ajay', 23}
{'raju', 34, 12, 'latha', 'ajay', 23}

In [7]:
print(s1)
s1.remove("ajay")
print(s1)

{'raju', 34, 12, 'latha', 'ajay', 23}
{'raju', 34, 12, 'latha', 23}

In [8]:
s2={12,34,67,89,90}
s3={12,34,45,67,91}
print(s2)
print(s3)
print(s2.union(s3))
print(s2)
print(s3)

{34, 67, 12, 89, 90}
{34, 67, 12, 45, 91}
{34, 67, 12, 45, 89, 90, 91}
{34, 67, 12, 89, 90}
{34, 67, 12, 45, 91}

In [9]:
print(s2)
print(s3)
print(s2.intersection(s3))
print(s2)
print(s3)

{34, 67, 12, 89, 90}
{34, 67, 12, 45, 91}
{34, 67, 12}
{34, 67, 12, 89, 90}
{34, 67, 12, 45, 91}

# Dictionary:

In [10]:
t={'name':("ramu","sai","teja"),'age':[12,21,32],'sal':[45000]}
print(t,type(t))

{'name': ('ramu', 'sai', 'teja'), 'age': [12, 21, 32], 'sal': [45000]} <class 'dict'>

In [11]:
print(t['age'][1])

21

In [13]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [14]:
print(t.keys()) # heading names will print

dict_keys(['name', 'age', 'sal'])

In [15]:
print(t.values())

dict_values([('ramu', 'sai', 'teja'), [12, 21, 32], [45000]])

In [16]:
y={'name':"tilak",'age':34,'sal':120000}
print(y)

{'name': 'tilak', 'age': 34, 'sal': 120000}

In [17]:
print(t.items()) # key,value format will print

dict_items([('name', ('ramu', 'sai', 'teja')), ('age', [12, 21, 32]), ('sal', [45000])])

In [18]:
print(t.get('name'))

('ramu', 'sai', 'teja')

In [20]:
print(t.get('age'))

[12, 21, 32]

In [21]:
t["no"]=12
print(t)

{'name': ('ramu', 'sai', 'teja'), 'age': [12, 21, 32], 'sal': [45000], 'no': 12}

In [24]:
print(t)
t["no"]="raju"
print(t)

{'name': ('ramu', 'sai', 'teja'), 'age': [12, 21, 32], 'sal': [45000], 'no': 'raju'}
{'name': ('ramu', 'sai', 'teja'), 'age': [12, 21, 32], 'sal': [45000], 'no': 'raju'}

In [25]:
print(t)
t.setdefault('tr')
print(t)

{'name': ('ramu', 'sai', 'teja'), 'age': [12, 21, 32], 'sal': [45000], 'no': 'raju'}
{'name': ('ramu', 'sai', 'teja'), 'age': [12, 21, 32], 'sal': [45000], 'no': 'raju', 'tr': None}

In [26]:
print(t)
t.update({'tr':34})
print(t)

{'name': ('ramu', 'sai', 'teja'), 'age': [12, 21, 32], 'sal': [45000], 'no': 'raju', 'tr': None}
{'name': ('ramu', 'sai', 'teja'), 'age': [12, 21, 32], 'sal': [45000], 'no': 'raju', 'tr': 34}

In [28]:
print(t)
print(t.pop('sal'))
print(t)

{'name': ('ramu', 'sai', 'teja'), 'age': [12, 21, 32], 'sal': [45000], 'no': 'raju', 'tr': 34}
[45000]
{'name': ('ramu', 'sai', 'teja'), 'age': [12, 21, 32], 'no': 'raju', 'tr': 34}

In [29]:
print(t.popitem())
print(t)

('tr', 34)
{'name': ('ramu', 'sai', 'teja'), 'age': [12, 21, 32], 'no': 'raju'}

In [31]:
q=['name','age','sal']
w=[12,34,65,43]
print(q)
print(w)
f={'name':34,'donar':23}
f.fromkeys(w)
f.fromkeys(q)
print(f)
print(q)
print(w)

['name', 'age', 'sal']
[12, 34, 65, 43]
{'name': 34, 'donar': 23}
['name', 'age', 'sal']
[12, 34, 65, 43]

In [33]:
t={'name':"ramu",'sno':1}
t1={}
t1=t.fromkeys(q,w)
print(t1)

{'name': [12, 34, 65, 43], 'age': [12, 34, 65, 43], 'sal': [12, 34, 65, 43]}

In [34]:
marks={}.fromkeys(["maths","python","c++"],[0,23])
print(marks)

{'maths': [0, 23], 'python': [0, 23], 'c++': [0, 23]}

In [ ]:
contact application:
    ramu
    1.dispaly -> entred name is:Ramu and your mobile number is:xxxxx
    2.update mobile number -> enter updated mobile number:xxxxxx
    rajesh
    1.enter mobile number
    
    1.enter new record
    2.display all records
    3.update record
    4.delete record
     
    1.ramu-> not exits
     mobile number -> xxxx
        2.name    mobile number
        ramu       xxxxxxxxxx
        rajesh     xxxxxxxxxx
    3. ramu -> exist
        mobile number -> xxxxxx
        user doesnot exits
    4. ramu -> exist
        user deleted successfuly
        user doesnt exits

In [ ]:
1
2
3
4
0
    1  enter your name:rajesh
        rajesh already exists
        enter your mobile number:xxxxxxxxxx
    2   name        mobile number
        rajesh      xxxxxxxxxx
    3   enter your name: rajesh
        enter updated mobile number:xxxxxxxx
        rajesh1
        rajesh doesnot exit in our contact
    4   enter your name: rajesh
        rajesh record deleted successfuly
        rajesh does not exit in your contact