## list:
    - it can stores diffrent data type elements
    - it can be difined as [] and type castinf as list()
    - it considts of index so slicing can be done
    - it stores the value in given format
    - in this the values can be changes
    - it can stores duplicte elements

## tuples
    - it can stores different data type elements
    - it can be defined as "()" and type casting as tuple()
    - it consits of index and slicing can be done
    - it this the values cant be changed
    - in can stores duplicate values

## set:
    - it can stores different data type elements
    - it can be defined as"{}" and type casting as "set()" => {a} => set
    - it does consists of index and slicing cant be done
    - it stores the value in given format but it prints in alphabetical order
    - inthis the values can be changes
    - it can stores the duplicate elements

## Dictionary:
    - it can stores thr different data type elements but it follows key and values
    - it can be defined as "{}" by drfault as type casting as "dict()"
    - it consists of index but it can be applicate for either keys or values
    - it stores the values in the given format
    - in this the values can be changed
    - it can stores the duplicate keys and duplicate values

## LIST:

In [2]:
k=[12,23.4,"rani",34,"raju"]
print(k,type(k))

[12, 23.4, 'rani', 34, 'raju'] <class 'list'>

In [3]:
a=15
print(type(a))

<class 'int'>

In [4]:
print(k[2]) ## indexing starts at zero

rani

In [5]:
print(type(k))

<class 'list'>

In [6]:
print(dir(k))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [7]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [8]:
m=[12,45.6]
print(m)
n=input()
m.append(n)
print(m)

[12, 45.6]
mani
[12, 45.6, 'mani']

In [9]:
m

[12, 45.6, 'mani']

In [13]:
n=["teja",21,234,34.67]
b=n.copy()
print(b,type(b))
print(n)
n.append("puja")
print(n)
print(b)
b.append("ravi")
print(n)
print(b)

['teja', 21, 234, 34.67] <class 'list'>
['teja', 21, 234, 34.67]
['teja', 21, 234, 34.67, 'puja']
['teja', 21, 234, 34.67]
['teja', 21, 234, 34.67, 'puja']
['teja', 21, 234, 34.67, 'ravi']

In [20]:
p=[12,23,45,67,"john"]
#p.count(12)
for n in p:
    print("{} count is: {}".format(n,p.count(n)))

12 count is: 1
23 count is: 1
45 count is: 1
67 count is: 1
john count is: 1

In [19]:
for b in range(len(p)):
    print(b)

0
1
2
3
4

In [23]:
v=[45.23,34,56.7,"somu"]
b=["prasad","teju","meena"]
v.extend(b)
print(v)
print(b)
b.append(200)
print(v)
print(b)

[45.23, 34, 56.7, 'somu', 'prasad', 'teju', 'meena']
['prasad', 'teju', 'meena']
[45.23, 34, 56.7, 'somu', 'prasad', 'teju', 'meena']
['prasad', 'teju', 'meena', 200]

In [26]:
v.index(45.23)

0

In [27]:
v.index("somu")

3

In [28]:
x=[12,13,14,15]          ## first indexing after insert value
x.insert(0,"raju")
print(x)

['raju', 12, 13, 14, 15]

In [29]:
x

['raju', 12, 13, 14, 15]

In [30]:
print(x)
x.pop()
print(x)

['raju', 12, 13, 14, 15]
['raju', 12, 13, 14]

In [31]:
x.pop(2)   ### indexing value is written

13

In [32]:
print(x)

['raju', 12, 14]

In [33]:
y=[34,45.67,"vinay","gayathri","niharika"]
print(y)

[34, 45.67, 'vinay', 'gayathri', 'niharika']

In [34]:
print(y)
y.remove("vinay")
print(y)

[34, 45.67, 'vinay', 'gayathri', 'niharika']
[34, 45.67, 'gayathri', 'niharika']

In [35]:
print(y)
y.reverse()
print(y)

[34, 45.67, 'gayathri', 'niharika']
['niharika', 'gayathri', 45.67, 34]

In [36]:
print(y)
y.sort()    ## same datatype values are supported in sort
print(y)

['niharika', 'gayathri', 45.67, 34]

TypeError: '<' not supported between instances of 'float' and 'str'

In [37]:
p=[12,3,4,5]
print(p)
p.sort()
print(p)

[12, 3, 4, 5]
[3, 4, 5, 12]

In [38]:
p=[12.23,3.89,4.76,5.0]
print(p)
p.sort()
print(p)

[12.23, 3.89, 4.76, 5.0]
[3.89, 4.76, 5.0, 12.23]

In [40]:
s=["puja","niha","teja"]
print(s)
s.sort()
print(s)

['puja', 'niha', 'teja']
['niha', 'puja', 'teja']

In [41]:
sorted(s)

['niha', 'puja', 'teja']

In [42]:
print(s)

['niha', 'puja', 'teja']

In [45]:
d=[12,3,1200,56]
f=sorted(d)
sorted(d)
print(d)
print(f)

[12, 3, 1200, 56]
[3, 12, 56, 1200]

In [46]:
print(d)
d.clear()
print(d)

[12, 3, 1200, 56]
[]

In [47]:
f=[56,87]
print(f)
del f
print(f)

[56, 87]

NameError: name 'f' is not defined

# TUPLE :

In [48]:
s=(12,34,45,45,"raju")
print(s,type(s))

(12, 34, 45, 'raju') <class 'tuple'>

In [50]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [51]:
print(s)
print(s.count(12))
print(s)

(12, 34, 45, 'raju')
1
(12, 34, 45, 'raju')

In [52]:
s.index(12)

0

In [54]:
p=(45,34,78,90,12,2)
d=list(p)
print(d,type(d))
d.sort()
i=tuple(d)
print(i)

[45, 34, 78, 90, 12, 2] <class 'list'>
(2, 12, 34, 45, 78, 90)