# Set:

In [1]:
g={'a',23,45,67,"raju"}
print(g)   # unorder format follows by set. no particular order

{'raju', 67, 'a', 45, 23}

In [2]:
g

{23, 45, 67, 'a', 'raju'}

In [3]:
h={}
m={2}
print(h,type(h))
print(m,type(m))

{} <class 'dict'>
{2} <class 'set'>

In [4]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [5]:
s1={23,12,34,"ajay",0,"latha"}
s1.add("raju")
print(s1)

{0, 'raju', 34, 12, 'latha', 'ajay', 23}

In [6]:
print(s1)
s1.pop()
print(s1)

{0, 'raju', 34, 12, 'latha', 'ajay', 23}
{'raju', 34, 12, 'latha', 'ajay', 23}

In [7]:
print(s1)
s1.remove("ajay")
print(s1)

{'raju', 34, 12, 'latha', 'ajay', 23}
{'raju', 34, 12, 'latha', 23}

In [8]:
s2={12,34,67,89,90}
s3={12,34,45,67,91}
print(s2)
print(s3)
print(s2.union(s3))
print(s2)
print(s3)

{34, 67, 12, 89, 90}
{34, 67, 12, 45, 91}
{34, 67, 12, 45, 89, 90, 91}
{34, 67, 12, 89, 90}
{34, 67, 12, 45, 91}

In [9]:
print(s2)
print(s3)
print(s2.intersection(s3))
print(s2)
print(s3)

{34, 67, 12, 89, 90}
{34, 67, 12, 45, 91}
{34, 67, 12}
{34, 67, 12, 89, 90}
{34, 67, 12, 45, 91}