In [1]:
n=int(input('Enter a value: '))
m=input("Enter a name: ")
print("Entered number is: %d"%n)
print("Entered Name is: %s"%m)

Enter a value: 23
Enter a name: puja
Entered number is: 23
Entered Name is: puja

In [2]:
print("Entered number is: %d and Entered name is: %s"%(n,m))

Entered number is: 23 and Entered name is: puja

In [3]:
print("entered number is: {} and entered name is: {}".format(n,m))
print("enterd number is: {0} and entered nmae is: {1}".format(n,m))

entered number is: 23 and entered name is: puja
enterd number is: 23 and entered nmae is: puja

## operators:
   - arithmetic -> +,-,*,/,%,floor division(// -> exact integer), expotential(** => pow())
   - logical -> AND,OR,NOT
   - bitwise -> &&,||,>>,<<
   - relational -> ==,!=,>=,<=,<,>
   - assignment -> +=,-=,*=,/=
   - membership -> in ,not in
   - identity -> is,is not

In [5]:
a=20
print(a>>2)

5

# Conditional statements:
    - to check whether a given condition is either true or false
    - if,nested if,if-else,elif ladder

## if - > Single Case[t or f]
```` syntax:
              if (condition):
              // statement

In [6]:
n=int(input())
if n==45:
    print("entered value is: {}".format(n))

print("entered value is: {}".format(n))

24

## if-else -> two cases[t or f]
````
      syntax:
             if (condition-1):
                  //true statement
             else:
                  // false statement     
````

In [7]:
k=int(input())
m=int(input())
if k==m:
    print("enterd values {} and {} are equal".format(k,m))
else:
    print("enterd values {} is not equal to {} ".format(k,m))

12
23
enterd values 12 is not equal to 23

## Nested if [if within an if] -> one or more cases
````
     syntax:
             if (condition-1):
                 if(condition-2):
                     //statement-1
              if (condition-1):
                  if(condition-2):
                      //statement-1
                   else:
                       //stmt-1
                    else:
                        //stmt-3
````

In [12]:
n=int(input())
if (n<=200):
    if(n==100):
        print("entered value {} is equal to 100".format(n))
    else:
        print("entered value {} is not equal to 100 but is lower than 200".format(
else:
    print("entered value {} is grater than 200".format(n))

SyntaxError: invalid syntax (<ipython-input-12-0aedfe521544>, line 7)

## elif -> two or n more cases
```
        syntax:
                if (condition-1):
                     // stmt-1
                 elif(condition-2):
                     // stmt-2
                 elif(condition-n):
                     //stmt-n
                  else:
                  
````

In [20]:
h=int(input())
if h%4==0: 
    print("entered value {} is divisible by 4".format(h))
elif h%2==0 and h%4==0:
    print("entered value {} is divsible by 2 and 4".format(h))
elif h%2==0:
    print("entered value {} is divisible by 2".format(h))
else:
    print("Entered value {} is not divisible by 2".format(h))

30
entered value 30 is divisible by 2

# control statement iterations ,loops ,repition
- to control the flow of execution
- for while

## for -> for particular Range =>[kown range]
````
    syntax:
        for iteration_variable in Iterator:
            //stmts
         for iteration_variable in range():
             //stmnts
````

### Range
```
    range(n):
        -> by default it starts from 0 to n-1
    range(n,m):
            -> start range will starts from exactly at n and stops at m-1
            =>range(4,8) =>4,5,6,7
     range(n,m,s):
             -> start range will starts from exactly at n and stops at m-1 and stepping to s
             -> range(4,10,2)=> 4,6,8
```

In [36]:
n=int(input("enter a range value: "))
for b in range(n):
    print(b,end=',')

enter a range value: 20
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,

In [ ]:
n=int(input("enter a starting range value: "))
m=int(input("enter a ending range value: "))
for b in range(n,m):
    print(b,end=',')

In [37]:
n=int(input("enter a starting range value: "))
m=int(input("enter a ending range value: "))
s=int(input("enter a stepping value: "))
for b in range(n,m,s):
    print(b,end=',')

enter a starting range value: 10
enter a ending range value: 20
enter a stepping value: 3
10,13,16,19,